<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1skGQ7sWvi4vKBOdO3idtmp8L2dD0UUM</string>
	<key>GCM_SENDER_ID</key>
	<string>562500312558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ommy.test</string>
	<key>PROJECT_ID</key>
	<string>fir-testing-3207e</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-testing-3207e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562500312558:ios:0e37e53c77011a41bd42ff</string>
</dict>
</plist>